# Stats 21 - HW 2

Name: Aaron Radparvar, UID: 905360304

The questions have been entered into this document. You will modify the document by entering your code.

Make sure you run the cell so the requested output is visible. Download the finished document as a PDF file. If you are unable to convert it to a PDF, you can download it as an HTML file and then print to PDF.

**Homework is an opportunity to practice coding and to practice problem solving. Doing exercises is where you will do most of your learning.**

**Copying someone else's solutions takes away your learning opportunities. It is also academic dishonesty.**

## Reading

- Think Python: Chapters 6 through 10

**Reading is important!** Keep up with the reading. I recommend alternating between reading a chapter and then working on exercises.

Additional recommended reading:

- String methods documentation https://docs.python.org/3/library/stdtypes.html#string-methods

## Textbook Chapter 5 Problems

## Exercise 5.1

In [1]:
import time

In [2]:
time.time()

1619214427.2318656

Write a function `now()` that reads the current time and prints out the time of day in hours, minutes, and
seconds, plus the number of days since the epoch. The function does not need to return a value, just print output to the screen.

The result should look like:

"Current time is: 15:25:47. It has been 18370 days since the epoch."

Use `int()` to drop decimal values. You do not need to try to find the date with years and months.

Tip: build your function incrementally. Start by finding how many days have passed since the epoch. (check your answer at the bottom of the page: https://www.epochconverter.com/seconds-days-since-y0 )  From there find how many hours, etc. Keep in mind the hours will be UTC time.

In [3]:
def now():
    seconds_since_epoch = time.time()
    days_since_epoch = seconds_since_epoch/(60*60*24)
    whole_days = int(days_since_epoch)
    hours = int((time.time()%(60*60*24))//(3600))#hours  
    minutes = int((time.time()%(60*60*24))%(3600)//60)#minutes
    seconds = int(int((time.time()%(60*60*24))%(3600)%60%60))#seconds
    print("Current time is: "+ f'{hours:02}'+ ":" + f'{minutes:02}' + ":" + f'{seconds:02}' ". It has been " + str(whole_days) +" days since the epoch")
    
    
    pass

In [4]:
now()

Current time is: 21:47:07. It has been 18740 days since the epoch

## Textbook Chapter 6 Problems

## Exercise 6.2

The Ackermann function, A(m, n), is deﬁned:

$$
A(m, n)= \left \{                 
    \begin{array}{ll}
        n+1 & \text{if } m = 0\\
        A(m-1, 1) & \text{if } m > 0 \text{ and } n = 0\\
        A(m-1, A(m, n-1)) & \text{if } m > 0 \text{ and } n > 0\\
    \end{array}
 \right.
$$


See http://en.wikipedia.org/wiki/Ackermann_function . Write a function named `ack` that evaluates the Ackermann function. Use your function to evaluate a few test cases. Don't test with $m \ge 4$ as it grows very fast very quickly.

In [5]:
def ack(m,n):
    if m == 0:
        return n+1
    elif m > 0 and n == 0:
         return ack((m-1), 1)
    elif m > 0 and n > 0:
         return ack((m-1), ack(m, (n-1)))
    else:
        print("no defined solution for given inputs")
    pass

In [6]:
# test case, should be 61
ack(3, 3)

61

In [7]:
# test case, should be 125
ack(3, 4)

125

## Exercise 6.4

A number, `a`, is a power of `b` if it is divisible by `b` and `a/b` is a power of `b`. Write a function called `is_power` that takes parameters `a` and `b` and returns `True` if a is a power of b. Note: you will have to think about the base case.

recall: $$ if\ (b^{n} = b*b*b*....*b \ )\   n\  times, b^{1} = b \ = \ (b=b)   $$

In [8]:
def is_power(a, b):
    if(a == b): #base case: recall any number is a power of itslf raised to the exponent 1
        return True
    elif(a % b != 0): # check to see if a is divisible by b with the modulus operator
        return False
    else:
        return is_power(a/b , b) # recursive function
pass

In [9]:
is_power(1024, 2)

True

In [10]:
is_power(6561, 3)

True

In [11]:
is_power(4374, 3)

False

In [12]:
is_power(768, 2)

False

## Exercise 6.5

The greatest common divisor (GCD) of a and b is the largest number that divides both of them with no remainder.

One way to ﬁnd the GCD of two numbers is based on the observation that if `r` is the remainder when `a` is divided by `b`, then `gcd(a, b) = gcd(b, r)`.

As a base case, we can use `gcd(a, 0) = a`.

Write a function called `gcd` that takes parameters `a` and `b` and returns their greatest common divisor.

In [13]:
def gcd(a, b):
    
    if b == 0: # base case
        return a
    else:
        r = a%b
        return gcd(b,r)
        
    pass

In [14]:
gcd(21, 7)

7

In [15]:
gcd(42, 28)

14

In [16]:
gcd(105, 140)

35

## Textbook Chapter 7 Problems

## Exercise 7.1

Copy the loop from Section 7.5 on square roots and encapsulate it into a function called `mysqrt()` that takes `a` as a parameter. For a starting value `x` use `a/2`. It then iterates through the code to estimate the square root of a value.

Write another function called `test_square_root(start, end)` that will print out a table as shown in the textbook.

In [17]:
import math
import pandas as pd
# write your code here
def mysqrt(a):
    epsilon = 0.0000001 # given epsilon from book 
    x = (a/2)
    while True:
        y = (x + a/x) / 2
        if abs(y - x) < epsilon:
            return y
            
        x=y


def test_square_root(start, end):
    #The first column is a number, a; the second column is the square root of a computed with the function from Section 7.5; the third column 
    #is the square root computed by math.sqrt; the fourth column is the absolute value of the difference between the two estimates.
    ls= []
    for i in range(int(start), int(end+1)):
        a = i
        my_res = mysqrt(i)
        math_res = math.sqrt(i)
        diff = abs(my_res - math_res)
        row = [a, my_res, math_res ,diff]
        ls.append(row)
    

    return pd.DataFrame(ls, columns = ['a', 'mysqrt(a)', 'math.sqrt(a)', 'diff'])

In [18]:
# test code, do not modify:
test_square_root(1.0, 9.0)

   a  mysqrt(a)  math.sqrt(a)          diff
0  1   1.000000      1.000000  1.110223e-15
1  2   1.414214      1.414214  2.220446e-16
2  3   1.732051      1.732051  0.000000e+00
3  4   2.000000      2.000000  0.000000e+00
4  5   2.236068      2.236068  0.000000e+00
5  6   2.449490      2.449490  8.881784e-16
6  7   2.645751      2.645751  0.000000e+00
7  8   2.828427      2.828427  4.440892e-16
8  9   3.000000      3.000000  0.000000e+00

In [19]:
test_square_root(30, 35)

    a  mysqrt(a)  math.sqrt(a)          diff
0  30   5.477226      5.477226  0.000000e+00
1  31   5.567764      5.567764  8.881784e-16
2  32   5.656854      5.656854  8.881784e-16
3  33   5.744563      5.744563  0.000000e+00
4  34   5.830952      5.830952  0.000000e+00
5  35   5.916080      5.916080  0.000000e+00

## Textbook Chapter 9 Problems

## Exercise 9.1

Download this list of words: http://thinkpython2.com/code/words.txt

Write and run a script that reads `words.txt` and prints out only the words with more than 20
characters (after stripping whitespace).

In [20]:
fin = open("words.txt")
for line in fin:
    line = line.strip() #strip the whitespace
    if len(line) > 20:
        print(line)
    
    pass

counterdemonstrations
hyperaggressivenesses
microminiaturizations

## Exercise 9.2

Write a function called `has_no_e` that returns True if the word doesn't have the letter e. You can use any of Pythons availble string methods.

In [21]:
def has_no_e(text):
    if "e"  not in text:
        return True
    else:
        return False
    pass # can be done in one line

In [22]:
has_no_e("hello")

False

In [23]:
has_no_e("quit")

True

With your function, write a script. The script should read the list of words (`words.txt`), print out the number of words that do not have the letter 'e' and the proportion of words that do not have the letter 'e'

In [24]:
fin = open("words.txt")
tally = 0
total = 0
for line in fin:
    tally +=  has_no_e(line)
    total +=  1

has_e_prop = tally/total
print("the total number of words that do not have the letter e is " ,tally)
print("the proportion of numbers that do not have the letter e in it is " ,has_e_prop)

the total number of words that do not have the letter e is  37641
the proportion of numbers that do not have the letter e in it is  0.3307383423103621

## Textbook Chapter 10 Problems

## Exercise 10.1

Write a function called `nested_sum` that takes a list of lists of integers and adds up
the elements from all of the nested lists. For example:
```
t = [[1, 2], [3], [4, 5, 6]]
nested_sum(t)
21
```
You may want to build the function recursively in case there are many levels of nested lists.

You can assume that all elements in any of the nested lists are numeric.

In [25]:
def is_list(x):
    if type(x) is list:
        return True
    else:
        return False

In [26]:
def nested_sum(t):
    total = 0 
    if not any(list(map(is_list, t))): 
        return sum(t)
    else: 
        for i in t:
            if is_list(i):
                total += nested_sum(i)
            else:
                total += i # i is a number here
            
    return(total)

In [27]:
t = [1, 2]
nested_sum(t)

3

In [28]:
t = [[1, 2], [3], [4, 5, 6]]
nested_sum(t)

21

In [29]:
t = [[1, 2, [3]], 4, 5, 6, [7], 8]
nested_sum(t)

36

In [30]:
t = [[[1, 2, [3]], [4, [5, 6, [7]], 8]]]

nested_sum(t)

36

## Exercise 10.2

Write a function called `cumsum` that takes a list of numbers and returns the cumulative sum; that is, a new list where the ith element is the sum of the first i + 1 elements from the original list. 

For example:
```
t = [1, 2, 3]
cumsum(t)
[1, 3, 6]
```

You can assume that all elements in the lists are numeric and the list does not contain nested lists.

In [31]:
def cumsum(t):
    total_sum = []
    total_sum.append(t[0])
    for i in range(1,len(t)):
        total_sum.append(t[i]+ total_sum[i-1])
        
    return total_sum

In [32]:
cumsum([1, 2, 3, 4])

[1, 3, 6, 10]

In [33]:
cumsum(range(12))

[0, 1, 3, 6, 10, 15, 21, 28, 36, 45, 55, 66]

## Exercise 10.6

Two words are anagrams if you can rearrange the letters from one to spell the other. Write a function called `is_anagram` that takes two strings and returns `True` if they are anagrams.

You can remove spaces and convert to lowercase using `string.replace(" ","").lower()`

In [34]:
def is_anagram(word1, word2):
    
    word1 = word1.replace(" ","").lower()
    d = {}
    for letter in word1:
        if letter not in d:
            d[letter] = 1
        else: 
            d[letter] += 1
    word2 = word2.replace(" ","").lower()
    d2 = {}        
    for letter in word2:
        if letter not in d2:
            d2[letter] = 1
        else: 
            d2[letter] += 1
    if len(word1) != len(word2):
        return False
    for key, value in d2.items():
        if value == d[key]:
            continue
        else:
            return False
    return True

In [35]:
is_anagram("hello", "o hell")

True

In [36]:
is_anagram("dormitory" , "dirty room")

True

In [37]:
is_anagram("dormitory" , "dirty rooms")

False

In [38]:
is_anagram("astronomers" , "moon starers")

True

## Exercise 10.7

Write a function called `has_duplicates` that takes a list and returns `True` if there is any element that appears more than once. It should not modify the original list.

You can assume that the list will not have nested lists.

In [39]:
def has_duplicates(t):
    d = {}
    for i in t :
        if i not in d:
            d[i] = 1
        else: 
            return True
        
    return False

In [40]:
has_duplicates(['a','b','c'])

False

In [41]:
has_duplicates(['a','b','b','c'])

True

In [42]:
has_duplicates(['a','b','c','a'])

True

## Exercise 10.10

To check whether a word is in the word list, you could use the in operator, but it would be slow because it searches through the words in order.

Because the words are in alphabetical order, we can speed things up with a bisection search (also known as binary search). You start in the middle and check to see whether the word you are looking for comes before the word in the middle of the list. If so, you search the first half of the list the same way (perform a bisection search on the first half). Otherwise you search the second half.

Either way, you cut the remaining search space in half. If the word list has 113,809 words, it will
take about 17 steps to find the word or conclude that it's not there. 

Write a function called `in_bisect` that takes a sorted list and a target word and will returns `True` if the word is in the list and `False` if it's not.

Hint: it's a recursive function.

In [43]:
# Use this function. No need to rewrite it.
def make_word_list():
    """Reads lines from a file and builds a list."""
    t = []
    fin = open('words.txt')
    for line in fin:
        word = line.strip()
        t.append(word)
    return t

t = make_word_list()

In [44]:
def in_bisect(word_list, word):
    low = 0
    high = len(word_list)
    while low < high:
        mid = (low+high)//2
        if word == word_list[mid]:
            return True
        elif word < word_list[mid]: 
            high = mid
        else: 
            low = mid+1
        
    return False

In [45]:
in_bisect(t, "hello")

True

In [46]:
in_bisect(t, "xyz")

False

## Exercise 10.11

Two words are a "reverse pair" if each is the reverse of the other.

Now that you have the `in_bisect` search, write a script that ﬁnds all the reverse pairs in the word list that are 6 letters or longer. (It takes a little bit of time to run.)

In [48]:
#first take every word in the list with char greater than 6 and add to a new list

six_or_more = []

for i in t:
    i= i.strip() # remove the whitespaces
    if len(i) >= 6:
        six_or_more.append(i)
        
#now that we have a list of all words with length greater or equal to 6, see if we can find reverse pairs

#first, create a function which will reverse strings

def reverse(string):
    string = "".join(reversed(string))
    return string

# then run a loop to reverse all strings and see if their opposite exists in the list

reverse_pairs = []

for i in six_or_more:
    i_reverse = reverse(i)
    if in_bisect(six_or_more, i_reverse):
        reverse_pairs.append([i, i_reverse])
    else:
        pass
    
#now that we have all pairs, its time to remove all duplicates

reverse_pairs = list(map(sorted, reverse_pairs))


# now that every list-element inside the list is sorted alphabetically, we can remove the duplicate list-elements inside reverse_pairs

reverse_final = list(set(tuple(sorted(i)) for i in reverse_pairs))
reverse_final = list(map(sorted, reverse_final))
reverse_final
reverse_pairs

[['agenes', 'senega'],
 ['animal', 'lamina'],
 ['animes', 'semina'],
 ['degami', 'imaged'],
 ['deified', 'deified'],
 ['deifier', 'reified'],
 ['deliver', 'reviled'],
 ['denier', 'reined'],
 ['denies', 'seined'],
 ['denned', 'denned'],
 ['depots', 'stoped'],
 ['derats', 'stared'],
 ['dessert', 'tressed'],
 ['desserts', 'stressed'],
 ['dewans', 'snawed'],
 ['dialer', 'relaid'],
 ['diaper', 'repaid'],
 ['dormin', 'nimrod'],
 ['drawer', 'reward'],
 ['elides', 'sedile'],
 ['eviler', 'relive'],
 ['gelder', 'redleg'],
 ['halalah', 'halalah'],
 ['hallah', 'hallah'],
 ['degami', 'imaged'],
 ['animal', 'lamina'],
 ['levins', 'snivel'],
 ['looter', 'retool'],
 ['marram', 'marram'],
 ['dormin', 'nimrod'],
 ['pupils', 'slipup'],
 ['recaps', 'spacer'],
 ['redder', 'redder'],
 ['redips', 'spider'],
 ['gelder', 'redleg'],
 ['redraw', 'warder'],
 ['redrawer', 'rewarder'],
 ['reflet', 'telfer'],
 ['reflow', 'wolfer'],
 ['deifier', 'reified'],
 ['reifier', 'reifier'],
 ['denier', 'reined'],
 ['reknit', 'tinker'],
 ['reknits', 'stinker'],
 ['dialer', 'relaid'],
 ['eviler', 'relive'],
 ['remeet', 'teemer'],
 ['rennet', 'tenner'],
 ['diaper', 'repaid'],
 ['repaper', 'repaper'],
 ['repins', 'sniper'],
 ['looter', 'retool'],
 ['deliver', 'reviled'],
 ['reviver', 'reviver'],
 ['drawer', 'reward'],
 ['redrawer', 'rewarder'],
 ['rotator', 'rotator'],
 ['sallets', 'stellas'],
 ['scares', 'seracs'],
 ['secret', 'terces'],
 ['elides', 'sedile'],
 ['denies', 'seined'],
 ['selahs', 'shales'],
 ['selles', 'selles'],
 ['sememes', 'sememes'],
 ['animes', 'semina'],
 ['agenes', 'senega'],
 ['scares', 'seracs'],
 ['selahs', 'shales'],
 ['skeets', 'steeks'],
 ['sleeps', 'speels'],
 ['sleets', 'steels'],
 ['pupils', 'slipup'],
 ['sloops', 'spools'],
 ['dewans', 'snawed'],
 ['repins', 'sniper'],
 ['levins', 'snivel'],
 ['snoops', 'spoons'],
 ['recaps', 'spacer'],
 ['sleeps', 'speels'],
 ['redips', 'spider'],
 ['spirts', 'strips'],
 ['sloops', 'spools'],
 ['snoops', 'spoons'],
 ['sports', 'strops'],
 ['sprits', 'stirps'],
 ['derats', 'stared'],
 ['skeets', 'steeks'],
 ['sleets', 'steels'],
 ['sallets', 'stellas'],
 ['reknits', 'stinker'],
 ['sprits', 'stirps'],
 ['depots', 'stoped'],
 ['desserts', 'stressed'],
 ['spirts', 'strips'],
 ['sports', 'strops'],
 ['struts', 'sturts'],
 ['struts', 'sturts'],
 ['remeet', 'teemer'],
 ['reflet', 'telfer'],
 ['rennet', 'tenner'],
 ['secret', 'terces'],
 ['terret', 'terret'],
 ['reknit', 'tinker'],
 ['dessert', 'tressed'],
 ['redraw', 'warder'],
 ['reflow', 'wolfer']]